*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Encode Sans Expanded', sans-serif; }

body {
  box-sizing: border-box;
  background: #dadada; }

.navbar {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  position: sticky;
  top: 0;
  z-index: 10; }
  @media screen and (max-width: 900px) {
    .navbar {
      transition: 0.8s all ease; } }
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    z-index: 1;
    width: 100%;
    padding: 0 2.4rem;
    max-width: 1200px; }
  .navbar__logo {
    color: #fff;
    display: flex;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 2.6rem;
    align-items: center;
    margin-left: 2.4rem;
    font-weight: bold;
    text-decoration: none; }
  .navbar__mobile-icon {
    display: none; }
    @media screen and (max-width: 830px) {
      .navbar__mobile-icon {
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 2.8rem;
        cursor: pointer;
        color: white; } }
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -2.2rem; }
    @media screen and (max-width: 830px) {
      .navbar__menu {
        display: none; } }

.sidebar {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 3s ease-in-out;
  opacity: 1; }
  .sidebar__icon {
    position: absolute;
    top: 2.4rem;
    right: 4rem;
    background: transparent;
    cursor: pointer;
    font-size: 3.2rem;
    outline: none;
    color: #fff; }
  .sidebar__wrapper__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 8rem);
    text-align: center; }
    @media screen and (max-width: 768px) {
      .sidebar__wrapper__menu {
        grid-template-rows: repeat(6, 6rem); } }

.menu-links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1.6rem;
  cursor: pointer;
  list-style: none;
  transition: all 0.1s ease-in-out; }
  .menu-links:hover {
    color: #fe440b; }
  .menu-links--nav {
    height: 8rem;
    padding: 1rem 2.2rem; }
  .menu-links--side {
    font-size: 2.4rem; }
  .menu-links--active {
    border-bottom: 4px solid #fe440b; }

.hero {
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  position: relative;
  margin-top: -8rem;
  height: 100vh;
  z-index: 1; }
  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .hero__bg__video {
      width: 100%;
      height: 100%;
      background: #232a34;
      object-fit: cover;
      -o-object-fit: cover;
      z-index: -1; }
    .hero__bg--fade-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 1; }
  .hero__content {
    max-width: 1200px;
    position: absolute;
    padding: 0.8rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    color: #fff; }
    .hero__content__header {
      font-size: 5rem;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .hero__content__header {
          font-size: 4.4rem; } }
      @media screen and (max-width: 375px) {
        .hero__content__header {
          font-size: 4rem; } }
    .hero__content__paragraph {
      margin-top: 2.4rem;
      font-size: 2.3rem;
      text-align: center;
      max-width: 600px; }
      @media screen and (max-width: 768px) {
        .hero__content__paragraph {
          font-size: 2.3rem; } }
      @media screen and (max-width: 480px) {
        .hero__content__paragraph {
          font-size: 1.8rem; } }

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn-wrap__link {
    border-radius: 10rem;
    background: #ff4f1a;
    color: #010606;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.2s ease-out; }
    .btn-wrap__link:hover {
      background: #fff;
      color: #010606;
      transform: scale(1.05);
      transform: translateY(-2px); }
    .btn-wrap__link:active {
      transform: translateY(1px); }
    .btn-wrap__link--nav {
      padding: 1rem 2.2rem; }
    .btn-wrap__link--side {
      font-size: 1.8rem;
      padding: 1.6rem 6.4rem; }
    .btn-wrap__link--hero {
      font-size: 2rem;
      padding: 1.4rem 4.8rem;
      margin-top: 3.2rem; }
  @media screen and (max-width: 830px) {
    .btn-wrap--nav {
      display: none; } }

.btn__icon {
  height: 1.3rem;
  margin-left: 0.8rem;
  margin-right: -0.8rem; }

.section {
  height: calc(100vh - 80px);
  padding: 0 5rem 5rem 5rem; }
  .section--photoBg {
    background-image: linear-gradient(to right bottom, rgba(10, 4, 2, 0.9), rgba(0, 0, 0, 0.9)), url(../../assets/pictures/drinks.jpg);
    background-size: cover;
    background-position: top; }
  .section__header {
    font-size: 4em;
    font-weight: 700;
    display: block;
    padding: 5rem 0 3rem 0;
    text-align: center; }
    .section__header--popular {
      padding-top: 4rem; }
    .section__header--white {
      color: #fff; }
    @media screen and (max-width: 768px) {
      .section__header {
        font-size: 3.8rem; } }
    @media screen and (max-width: 414px) {
      .section__header {
        font-size: 3.2rem; } }
    @media screen and (max-width: 375px) {
      .section__header {
        font-size: 3rem; } }
  .section__drinks-list {
    max-height: calc((100vh - 80px) / 2);
    max-width: 1100px;
    margin: 0 auto; }
    .section__drinks-list__card {
      padding-left: 1.5rem; }
      @media screen and (max-width: 510px) {
        .section__drinks-list__card {
          padding-left: 8rem; } }
      .section__drinks-list__card img {
        max-height: calc(((100vh - 80px) / 3.5));
        border-radius: 5px; }
  .section__drinks-slider__container {
    display: flex;
    padding: 1rem 5.5rem; }
    .section__drinks-slider__container__item {
      width: 100px;
      padding: 1rem 5.5rem;
      flex: 0 0 19.7%;
      text-align: center;
      margin: 0 2px;
      transition: transform 300ms ease;
      margin-right: 5rem; }
      .section__drinks-slider__container__item img {
        width: 250px;
        border-radius: 5px; }
  .section--spirits {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    position: relative;
    z-index: 1;
    align-items: center; }
    .section--spirits .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 5rem;
      grid-row-gap: 3rem; }
      @media media and (max-width: 700px) {
        .section--spirits .row {
          grid-column-gap: 3rem; } }
      @media media and (max-width: 600px) {
        .section--spirits .row {
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 1rem; } }
      .section--spirits .row__image {
        z-index: 10;
        height: calc((100vh - 300px) / 2);
        width: 25rem;
        overflow: hidden;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
        background-size: cover;
        background-position: center;
        position: relative; }
        @media screen and (max-width: 700px) {
          .section--spirits .row__image {
            width: calc((100vw - 40px) / 4); } }
        .section--spirits .row__image__title {
          position: absolute;
          font-size: 3rem;
          left: 50%;
          top: 50%;
          text-decoration: none;
          color: white;
          transform: translateY(-50%) translateX(-50%);
          transition: all 0.2s ease; }
          @media screen and (max-width: 700px) {
            .section--spirits .row__image__title {
              font-size: 2.2rem; } }
          .section--spirits .row__image__title:hover {
            color: orangered; }
        .section--spirits .row__image--1 {
          background-image: linear-gradient(to right bottom, rgba(10, 4, 2, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/pictures/vodka-1.jpg); }
        .section--spirits .row__image--2 {
          background-image: linear-gradient(to right bottom, rgba(10, 4, 2, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/pictures/gin-1.jpg); }
        .section--spirits .row__image--3 {
          background-image: linear-gradient(to right bottom, rgba(10, 4, 2, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/pictures/rum-1.jpg); }
        .section--spirits .row__image--4 {
          background-image: linear-gradient(to right bottom, rgba(10, 4, 2, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/pictures/tequila-1.jpg); }
        .section--spirits .row__image--5 {
          background-image: linear-gradient(to right bottom, rgba(10, 4, 2, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/pictures/whiskey-1.jpg); }
        .section--spirits .row__image--6 {
          background-image: linear-gradient(to right bottom, rgba(10, 4, 2, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/pictures/brandy-1.jpg); }
        .section--spirits .row__image:hover {
          transform: translateY(-3px) scale(1.09); }
        @media screen and (max-width: 700px) {
          .section--spirits .row__image {
            max-height: 40rem;
            max-width: 15rem; } }
        @media screen and (max-width: 600px) {
          .section--spirits .row__image {
            max-height: 50rem;
            max-width: 18rem; } }

.link {
  text-decoration: none;
  color: black; }

.spirits__hero {
  height: 99vh;
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  position: relative;
  margin-top: -8rem;
  z-index: 1;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }

.spirits__header {
  text-align: center;
  z-index: 2;
  color: white;
  font-size: 6rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-60%); }
  .spirits__header__arrow {
    animation: arrow 0.8s infinite alternate ease-in-out; }

.spirits__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  padding: 5rem 0 5rem 0;
  justify-items: center;
  transform: translateX(-1.5rem); }
  @media screen and (max-width: 1150px) {
    .spirits__grid {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 6rem 0 6rem; } }
  @media screen and (max-width: 840px) {
    .spirits__grid {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 6rem 0 6rem; } }
  @media screen and (max-width: 600px) {
    .spirits__grid {
      grid-template-columns: repeat(1, 1fr);
      transform: translateX(-4.5rem); } }
  .spirits__grid__cards {
    transition: all 0.2s ease;
    max-width: 200px; }
    .spirits__grid__cards:hover {
      transform: translateY(-3px) scale(1.09); }
    .spirits__grid__cards img {
      max-height: calc(((100vh - 80px) / 3.5));
      border-radius: 5px; }
      @media screen and (max-width: 600px) {
        .spirits__grid__cards img {
          max-height: 30rem; } }

.Vodka {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(75, 22, 3, 0.8)), url(../../assets/pictures/vodka-2.jpg); }

.Gin {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(75, 22, 3, 0.8)), url(../../assets/pictures/gin-2.jpg); }

.Tequila {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(75, 22, 3, 0.8)), url(../../assets/pictures/tequila-2.jpg); }

.Rum {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(75, 22, 3, 0.8)), url(../../assets/pictures/rum-2.jpg); }

.Whiskey {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(75, 22, 3, 0.8)), url(../../assets/pictures/whiskey-2.jpg); }

.Brandy {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(75, 22, 3, 0.8)), url(../../assets/pictures/brandy-2.jpg); }

@keyframes arrow {
  0% {
    opacity: 0.5;
    transform: translateY(80%); }
  100% {
    opacity: 1;
    transform: translateY(120%); } }
