// HOME SECTIONS
.section {
  height: calc(100vh - 80px);
  padding: 0 5rem 5rem 5rem;

  &__header {
    font-size: 4em;
    font-weight: 700;
    display: block;
    padding: 5rem 0 3rem 0;
    text-align: center;

    &--popular {
      padding-top: 4rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 3.8rem;
    }

    @media screen and (max-width: 414px) {
      font-size: 3.2rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 3rem;
    }
  }

  &__drinks-list {
    max-height: calc((100vh - 80px) / 2);
    max-width: 1100px;
    margin: 0 auto;
  }

  &--spirits {
    background: #0d1616;
  }

  &__drinks-slider {
    // display: flex;
    // max-width: 1300px;

    &__container {
      display: flex;
      padding: 1rem 5.5rem;

      &__item {
        width: 100px;
        padding: 1rem 5.5rem;
        flex: 0 0 19.7%;
        text-align: center;
        margin: 0 2px;
        transition: transform 300ms ease 100ms;
        margin-right: 5rem;

        img {
          width: 250px;
          border-radius: 5px;
        }
      }
    }
  }
}

img {
  // max-width: 250px;
  max-height: calc(((100vh - 80px) / 3.5));
  border-radius: 5px;
}

.card__container--inner--card {
  padding-left: 2.5rem;

  @media screen and (max-width: 715px) {
    padding-left: 1.5rem;
  }

  @media screen and (max-width: 510px) {
    padding-left: 8rem;
  }
}
